<a href="https://colab.research.google.com/github/hsnam95/my/blob/main/naver%EB%B6%80%EB%8F%99%EC%82%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [291]:
import pandas as pd
import json
import requests
def get_INFO(url,header):
  return json.loads(requests.get(url,headers=header).text)

# 아파트 정보추출

### 법정동코드 행정구역정보

In [140]:
cortarNo = '0000000000'

In [57]:
cortarNo = '1100000000'

In [290]:
cortarNo = '1129000000'

In [292]:
header = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/15.6 Safari/605.1.15",
          "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IlJFQUxFU1RBVEUiLCJpYXQiOjE2Njc0MDc2MDEsImV4cCI6MTY2NzQxODQwMX0.GHZW5T1LUnvkQmJuyvGrPrB64XMKx7h20FadXMw_5nI",
}

In [293]:
url = 'https://new.land.naver.com/api/regions/list?cortarNo='+cortarNo
regionINFO = get_INFO(url, header)
pd.DataFrame(regionINFO['regionList'])

      cortarNo  centerLat   centerLon cortarName cortarType
0   1129013400  37.608332  127.022800        길음동        sec
1   1129010300  37.597400  127.020700        돈암동        sec
2   1129011600  37.592307  127.018400      동선동1가        sec
3   1129011700  37.590249  127.019538      동선동2가        sec
4   1129011800  37.593899  127.020538      동선동3가        sec
5   1129011900  37.595109  127.018781      동선동4가        sec
6   1129012000  37.596200  127.016600      동선동5가        sec
7   1129010400  37.590199  127.007163     동소문동1가        sec
8   1129010500  37.588794  127.008080     동소문동2가        sec
9   1129010600  37.590371  127.011567     동소문동3가        sec
10  1129010700  37.591846  127.010553     동소문동4가        sec
11  1129010800  37.591490  127.015017     동소문동5가        sec
12  1129010900  37.593590  127.014213     동소문동6가        sec
13  1129011000  37.596400  127.014200     동소문동7가        sec
14  1129013000  37.586477  127.019558      보문동1가        sec
15  1129013100  37.585828  127.018186      보문동2가        sec
16  1129013200  37.583874  127.015813      보문동3가        sec
17  1129012600  37.582882  127.021332      보문동4가        sec
18  1129012700  37.582588  127.020107      보문동5가        sec
19  1129012800  37.580475  127.018825      보문동6가        sec
20  1129012900  37.579733  127.022225      보문동7가        sec
21  1129011100  37.584500  127.008200      삼선동1가        sec
22  1129011200  37.584000  127.011400      삼선동2가        sec
23  1129011300  37.586557  127.013000      삼선동3가        sec
24  1129011400  37.589797  127.013302      삼선동4가        sec
25  1129011500  37.588500  127.015800      삼선동5가        sec
26  1129013700  37.605757  127.048125       상월곡동        sec
27  1129013900  37.608000  127.061100        석관동        sec
28  1129010100  37.596900  126.992200        성북동        sec
29  1129010200  37.589400  127.003800      성북동1가        sec
30  1129012100  37.588695  127.022239      안암동1가        sec
31  1129012200  37.586732  127.023000      안암동2가        sec
32  1129012300  37.583882  127.023100      안암동3가        sec
33  1129012400  37.580392  127.024663      안암동4가        sec
34  1129012500  37.588815  127.030050      안암동5가        sec
35  1129013800  37.615700  127.050100        장위동        sec
36  1129013300  37.616900  126.997400        정릉동        sec
37  1129013500  37.596600  127.033300        종암동        sec
38  1129013600  37.604407  127.038700       하월곡동        sec

### 법정동

In [294]:
cortarNo = '1129013500'

In [ ]:
url = 'https://new.land.naver.com/api/regions/complexes?cortarNo='+cortarNo
complexList = get_INFO(url, header)
complexList.keys()
pd.DataFrame(complexList['complexList'])

### 아파트단지

#### 단지정보

In [296]:
complexNo='1191'

In [297]:
url = 'https://new.land.naver.com/api/complexes/'+complexNo
complexINFO = get_INFO(url, header)
latitude = str(get_INFO(url, header)['complexDetail']['latitude'])
longitude = str(get_INFO(url, header)['complexDetail']['longitude'])
print(complexINFO.keys())
pd.DataFrame([complexINFO['complexDetail']])

dict_keys(['photos', 'complexDetail', 'complexPyeongDetailList'])

,complexNo,complexName,cortarNo,realEstateTypeCode,realEstateTypeName,detailAddress,roadAddress,latitude,longitude,totalHouseholdCount,...,parkingPossibleCount,parkingCountByHousehold,constructionCompanyName,heatMethodTypeCode,heatFuelTypeCode,pyoengNames,managementOfficeTelNo,buildingRegister,address,roadAddressPrefix
0,1191,종암SK,1129013500,APT,아파트,104-1,종암로24가길 53,37.601544,127.036532,1318,...,1691,1.28,SK건설,HT001,HF001,"80B㎡, 81A㎡, 109㎡, 143",02-942-4271,iBbCgCiJLVboss7tHQrIQY0X6muVUXmA,서울시 성북구 종암동,서울시 성북구

#### 단지상세정보

In [298]:
Referer = "https://new.land.naver.com/complexes/"+complexNo+"?ms=" + latitude + "," + latitude + "," + "17&a=APT&e=RETAIL"
header = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/15.6 Safari/605.1.15",
          "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IlJFQUxFU1RBVEUiLCJpYXQiOjE2Njc0MDc2MDEsImV4cCI6MTY2NzQxODQwMX0.GHZW5T1LUnvkQmJuyvGrPrB64XMKx7h20FadXMw_5nI",
          "Referer": Referer
}

In [300]:
url = 'https://new.land.naver.com/api/complexes/overview/'+complexNo+'?complexNo='+complexNo
complexOverviewINFO=get_INFO(url, header)
complexOverviewINFO.keys()
pd.DataFrame([complexOverviewINFO])

,complexTypeName,complexType,complexName,complexNo,totalHouseHoldCount,totalDongCount,useApproveYmd,minArea,maxArea,minPrice,...,leasePerDealRate,isaleDealRestrictionCode,rebuildMembershipTransYn,livingResidenceYn,latitude,longitude,realPrice,pyeongs,dongs,complexExistTabs
0,아파트,A01,종암SK,1191,1318,6,19990407,80.57,143.76,62000,...,0.0,N,N,N,37.601544,127.036532,"{'tradeType': 'A1', 'tradeYear': '2022', 'trad...","[{'pyeongNo': 3, 'supplyAreaDouble': 80.57, 's...","[{'dongNo': '1141706', 'bildName': '101', 'hig...","[detail, prices, buildingLandprice, schools, p..."

#### 학군

In [301]:
url = 'https://new.land.naver.com/api/complexes/'+complexNo+'/schools'
schoolINFO = get_INFO(url, header)
schoolINFO.keys()
pd.DataFrame(schoolINFO['schools'])

,allocationMethod,arrangeBuilding,arrangeBuildings,walkTime,schoolCode,schoolName,address,telNumber,organizationType,establishmentType,...,latitude,longitude,cortarNo,cityName,averageStudentCountPerClassroomOnCity,averageStudentCountPerTeacherOnCity,divisionName,averageStudentCountPerClassroomOnDivision,averageStudentCountPerTeacherOnDivision,schoolVertexLists
0,자동,전체동,"[101, 102, 103, 104, 105, 106]",6,B100002318,서울일신초등학교,서울특별시 성북구 월곡로 74,02-909-2893,공립,단설,...,37.598918,127.040141,1129013500,서울시,20.0,12.8,성북구,20.4,13.1,"[[[37.6021684, 127.0358772], [37.6018255, 127...."

#### 매매시세

In [323]:
url = 'https://new.land.naver.com/api/complexes/'+complexNo+'/prices?complexNo='+complexNo+'&tradeType=A1&year=5&priceChartChange=true&areaNo=&addedRowCount=0&provider=kab&showMorePriceTable=true&type=table'
priceINFO = get_INFO(url, header)
print(priceINFO.keys())
pd.DataFrame(priceINFO['marketPrices'])

dict_keys(['orderedMarketPriceProviders', 'provider', 'marketPrices', 'addedRowCount', 'totalRowCount', 'broker', 'tradeType', 'areaNo', 'marketPriceBasisYearMonthDay'])

,baseYearMonthDay,dealUpperPriceLimit,dealAveragePrice,dealLowPriceLimit,dealAveragePriceChangeAmount,leaseUpperPriceLimit,leaseAveragePrice,leaseLowPriceLimit,leaseAveragePriceChangeAmount,upperPriceLimit,averagePriceLimit,lowPriceLimit,priceChangeAmount,leasePerDealRate
0,20221031,77500,74000,70500,0,45000,43500,42000,0,77500,74000,70500,0,58~59%
1,20221024,77500,74000,70500,-750,45000,43500,42000,0,77500,74000,70500,-750,58~59%
2,20221017,78000,74750,71500,0,45000,43500,42000,0,78000,74750,71500,0,57~58%
3,20221010,78000,74750,71500,-1000,45000,43500,42000,0,78000,74750,71500,-1000,57~58%

#### 실거래가

In [336]:
url = 'https://new.land.naver.com/api/complexes/'+complexNo+'/prices/real?complexNo='+complexNo+'&tradeType=A1&year=5&priceChartChange=false&areaNo=3&addedRowCount=0&type=table'
realINFO = get_INFO(url, header)
print(realINFO.keys())
pd.DataFrame(realINFO['realPriceOnMonthList'])

dict_keys(['areaNo', 'realPriceOnMonthList', 'addedRowCount', 'totalRowCount', 'realPriceBasisYearMonth'])

,realPriceList,tradeBaseYear,tradeBaseMonth
0,"[{'tradeType': 'A1', 'tradeYear': '2022', 'tra...",2022,9
1,"[{'tradeType': 'A1', 'tradeYear': '2022', 'tra...",2022,4
2,"[{'tradeType': 'A1', 'tradeYear': '2021', 'tra...",2021,10
3,"[{'tradeType': 'A1', 'tradeYear': '2021', 'tra...",2021,8

#### 매물정보

In [337]:
url = 'https://new.land.naver.com/api/articles/complex/'+complexNo+'?realEstateType=APT:ABYG:JGC&tradeType=A1&tag=::::::::&rentPriceMin=0&rentPriceMax=900000000&priceMin=0&priceMax=900000000&areaMin=0&areaMax=900000000&oldBuildYears&recentlyBuildYears&minHouseHoldCount&maxHouseHoldCount&showArticle=false&sameAddressGroup=false&minMaintenanceCost&maxMaintenanceCost&priceType=RETAIL&directions=&page=1&complexNo='+complexNo+'&buildingNos=&areaNos=&type=list&order=rank'
articleINFO=get_INFO(url, header)
articleINFO.keys()
pd.DataFrame(articleINFO['articleList'])

,articleNo,articleName,articleStatus,realEstateTypeCode,realEstateTypeName,articleRealEstateTypeCode,articleRealEstateTypeName,tradeTypeCode,tradeTypeName,verificationTypeCode,...,realtorName,tradeCheckedByOwner,isDirectTrade,sellerName,sellerPhoneNum,isInterest,isComplex,detailAddress,detailAddressYn,realtorId
0,2239066006,종암SK,R0,APT,아파트,A01,아파트,A1,매매,MOBL,...,-,False,True,표영준,050431007963,False,True,,N,NaN
1,2239026478,종암SK,R0,APT,아파트,A01,아파트,A1,매매,OWNER,...,에덴(02-918-1400)공인중개사사무소,False,False,NaN,NaN,False,True,,N,m9181400
2,2238726339,종암SK,R0,APT,아파트,A01,아파트,A1,매매,OWNER,...,SK탑(02-918-5800)공인중개사사무소,False,False,NaN,NaN,False,True,,N,n9185800
3,2238865274,종암SK,R0,APT,아파트,A01,아파트,A1,매매,DOCV2,...,래미안라센트(02-916-7000)공인중개사사무소,False,False,NaN,NaN,False,True,,N,cnsgml1245
4,2238605092,종암SK,R0,APT,아파트,A01,아파트,A1,매매,DOCV2,...,래미안 길(02-909-2020)공인중개사사무소,False,False,NaN,NaN,False,True,,N,manihatta
5,2237838140,종암SK,R0,APT,아파트,A01,아파트,A1,매매,OWNER,...,에덴(02-918-1400)공인중개사사무소,False,False,NaN,NaN,False,True,,N,m9181400
6,2237780681,종암SK,R0,APT,아파트,A01,아파트,A1,매매,OWNER,...,우대빵미아뉴타운(918-0111)공인중개사사무소,False,False,NaN,NaN,False,True,,N,9180111
7,2239216013,종암SK,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,하나공인중개사사무소,False,False,NaN,NaN,False,True,,N,skhana3300
8,2239254824,종암SK,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,행복공인중개사사무소,False,False,NaN,NaN,False,True,,N,m9094454
9,2239187360,종암SK,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,좋은집(02-909-0011)공인중개사사무소,False,False,NaN,NaN,False,True,,N,n9090011
10,2239202849,종암SK,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,종암제일부동산공인중개사무소,False,False,NaN,NaN,False,True,,N,942-8959
11,2239258828,종암SK,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,SK부동산(912-3900)공인중개사사무소,False,False,NaN,NaN,False,True,,N,chs39000
12,2239237339,종암SK,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,SK부동산(912-3900)공인중개사사무소,False,False,NaN,NaN,False,True,,N,chs39000
13,2237503646,종암SK,R0,APT,아파트,A01,아파트,A1,매매,OWNER,...,SK탑(02-918-5800)공인중개사사무소,False,False,NaN,NaN,False,True,,N,n9185800
14,2239049954,종암SK,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,하나공인중개사사무소,False,False,NaN,NaN,False,True,,N,skhana3300
15,2239079603,종암SK,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,SK부동산(912-3900)공인중개사사무소,False,False,NaN,NaN,False,True,,N,chs39000
16,2239085737,종암SK,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,좋은집(02-909-0011)공인중개사사무소,False,False,NaN,NaN,False,True,,N,n9090011
17,2239026995,종암SK,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,종암제일부동산공인중개사무소,False,False,NaN,NaN,False,True,,N,942-8959
18,2238896400,종암SK,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,종암제일부동산공인중개사무소,False,False,NaN,NaN,False,True,,N,942-8959
19,2238885923,종암SK,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,SK공인(912-3900),False,False,NaN,NaN,False,True,,N,chs39000