<a href="https://colab.research.google.com/github/hsnam95/my/blob/main/naver%EB%B6%80%EB%8F%99%EC%82%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [220]:
import pandas as pd
import json
import requests
def get_INFO(url,header):
  return json.loads(requests.get(url,headers=header).text)

# 아파트 정보추출

### 법정동코드 행정구역정보

In [140]:
cortarNo = '0000000000'

In [57]:
cortarNo = '1100000000'

In [243]:
cortarNo = '1111000000'

In [236]:
header = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/15.6 Safari/605.1.15",
          "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IlJFQUxFU1RBVEUiLCJpYXQiOjE2Njc0MDc2MDEsImV4cCI6MTY2NzQxODQwMX0.GHZW5T1LUnvkQmJuyvGrPrB64XMKx7h20FadXMw_5nI",
}

In [ ]:
url = 'https://new.land.naver.com/api/regions/list?cortarNo='+cortarNo
regionINFO = get_INFO(url, header)
pd.DataFrame(regionINFO['regionList'])

### 법정동

In [247]:
cortarNo = '1111018300'

In [ ]:
url = 'https://new.land.naver.com/api/regions/complexes?cortarNo='+cortarNo
complexList = get_INFO(url, header)
complexList.keys()
pd.DataFrame(complexList['complexList'])

### 아파트단지

#### 단지정보

In [279]:
complexNo='794'

In [280]:
url = 'https://new.land.naver.com/api/complexes/'+complexNo
complexINFO = get_INFO(url, header)
latitude = str(get_INFO(url, header)['complexDetail']['latitude'])
longitude = str(get_INFO(url, header)['complexDetail']['longitude'])
print(complexINFO.keys())
pd.DataFrame([complexINFO['complexDetail']])

dict_keys(['photos', 'complexDetail', 'complexPyeongDetailList'])

,complexNo,complexName,cortarNo,realEstateTypeCode,realEstateTypeName,detailAddress,roadAddress,latitude,longitude,totalHouseholdCount,...,parkingPossibleCount,parkingCountByHousehold,constructionCompanyName,heatMethodTypeCode,heatFuelTypeCode,pyoengNames,managementOfficeTelNo,buildingRegister,address,roadAddressPrefix
0,794,창신쌍용1단지,1111017400,APT,아파트,702,동망산길 19,37.580715,127.013908,585,...,306,0.52,쌍용건설(주),HT001,HF001,"72㎡, 100A㎡, 105B㎡, 107C㎡, 126",02-747-1554,SCXSjqWc8G3Ii/WKaTFEZXAh1PNVHILg,서울시 종로구 창신동,서울시 종로구

#### 단지상세정보

In [281]:
Referer = "https://new.land.naver.com/complexes/"+complexNo+"?ms=" + latitude + "," + latitude + "," + "17&a=APT&e=RETAIL"
header = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/15.6 Safari/605.1.15",
          "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IlJFQUxFU1RBVEUiLCJpYXQiOjE2Njc0MDc2MDEsImV4cCI6MTY2NzQxODQwMX0.GHZW5T1LUnvkQmJuyvGrPrB64XMKx7h20FadXMw_5nI",
          "Referer": Referer
}

In [282]:
url = 'https://new.land.naver.com/api/complexes/overview/'+complexNo+'?complexNo='+complexNo
complexOverviewINFO=get_INFO(url, header)
complexOverviewINFO.keys()
pd.DataFrame([complexOverviewINFO])

,complexTypeName,complexType,complexName,complexNo,totalHouseHoldCount,totalDongCount,useApproveYmd,minArea,maxArea,minPrice,...,maxLeasePriceByLetter,leasePerDealRate,isaleDealRestrictionCode,rebuildMembershipTransYn,livingResidenceYn,latitude,longitude,pyeongs,dongs,complexExistTabs
0,아파트,A01,창신쌍용1단지,794,585,5,19921125,72.36,126.15,68500,...,"5억 5,000",0.0,N,N,N,37.580715,127.013908,"[{'pyeongNo': 1, 'supplyAreaDouble': 72.36, 's...","[{'dongNo': '736708', 'bildName': '101', 'high...","[detail, prices, buildingLandprice, schools, p..."

#### 학군

In [283]:
url = 'https://new.land.naver.com/api/complexes/'+complexNo+'/schools'
schoolINFO = get_INFO(url, header)
schoolINFO.keys()
pd.DataFrame(schoolINFO['schools'])

,allocationMethod,arrangeBuilding,arrangeBuildings,walkTime,schoolCode,schoolName,address,telNumber,organizationType,establishmentType,...,latitude,longitude,cortarNo,cityName,averageStudentCountPerClassroomOnCity,averageStudentCountPerTeacherOnCity,divisionName,averageStudentCountPerClassroomOnDivision,averageStudentCountPerTeacherOnDivision,schoolVertexLists
0,자동,전체동,"[101, 102, 103, 104, 105]",5,B100002378,서울명신초등학교,서울특별시 종로구 낙산길 250,02-766-1415,공립,단설,...,37.581539,127.014191,1111017400,서울시,20.0,12.8,종로구,16.9,9.9,"[[[37.58294402672373, 127.0145820881458], [37...."

#### 매매시세

In [287]:
url = 'https://new.land.naver.com/api/complexes/'+complexNo+'/prices?complexNo='+complexNo+'&tradeType=A1&year=5&priceChartChange=true&areaNo=&areaChange=true&type=table'
marketPriceINFO = get_INFO(url, header)
marketPriceINFO.keys()
pd.DataFrame(marketPriceINFO['marketPrices'])

,baseYearMonthDay,dealUpperPriceLimit,dealAveragePrice,dealLowPriceLimit,dealAveragePriceChangeAmount,leaseUpperPriceLimit,leaseAveragePrice,leaseLowPriceLimit,leaseAveragePriceChangeAmount,upperPriceLimit,averagePriceLimit,lowPriceLimit,priceChangeAmount,leasePerDealRate
0,20221031,75000,71500,68000,0,41000,38500,36000,0,75000,71500,68000,0,52~54%
1,20221024,75000,71500,68000,0,41000,38500,36000,-1000,75000,71500,68000,0,52~54%
2,20221017,75000,71500,68000,0,42000,39500,37000,0,75000,71500,68000,0,54~56%
3,20221010,75000,71500,68000,0,42000,39500,37000,0,75000,71500,68000,0,54~56%

#### 매물정보

In [289]:
url = 'https://new.land.naver.com/api/articles/complex/'+complexNo+'?realEstateType=APT:ABYG:JGC&tradeType=A1&tag=::::::::&rentPriceMin=0&rentPriceMax=900000000&priceMin=0&priceMax=900000000&areaMin=0&areaMax=900000000&oldBuildYears&recentlyBuildYears&minHouseHoldCount&maxHouseHoldCount&showArticle=false&sameAddressGroup=false&minMaintenanceCost&maxMaintenanceCost&priceType=RETAIL&directions=&page=1&complexNo='+complexNo+'&buildingNos=&areaNos=&type=list&order=rank'
articleINFO=get_INFO(url, header)
articleINFO.keys()
pd.DataFrame(articleINFO['articleList'])

,articleNo,articleName,articleStatus,realEstateTypeCode,realEstateTypeName,articleRealEstateTypeCode,articleRealEstateTypeName,tradeTypeCode,tradeTypeName,verificationTypeCode,...,realtorId,tradeCheckedByOwner,isDirectTrade,isInterest,isComplex,detailAddress,detailAddressYn,representativeImgUrl,representativeImgTypeCode,representativeImgThumb
0,2239060802,창신쌍용1단지,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,m7412455,False,False,False,True,,N,NaN,NaN,NaN
1,2238992404,창신쌍용1단지,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,janghanno1,False,False,False,True,,N,NaN,NaN,NaN
2,2238989672,창신쌍용1단지,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,m7653800,False,False,False,True,,N,/20221104_36/land_naver_1667524534759hTFtU_JPE...,10,f130_98
3,2237513328,창신쌍용1단지,R0,APT,아파트,A01,아파트,A1,매매,OWNER,...,dohee4296,False,False,False,True,,N,NaN,NaN,NaN
4,2238849925,창신쌍용1단지,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,janghanno1,False,False,False,True,,N,NaN,NaN,NaN
5,2238258266,창신쌍용1단지,R0,APT,아파트,A01,아파트,A1,매매,OWNER,...,m7429700,False,False,False,True,,N,NaN,NaN,NaN
6,2238891405,창신쌍용1단지,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,5294ufo,False,False,False,True,,N,NaN,NaN,NaN
7,2238857730,창신쌍용1단지,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,janghanno1,False,False,False,True,,N,NaN,NaN,NaN
8,2238856695,창신쌍용1단지,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,janghanno1,False,False,False,True,,N,NaN,NaN,NaN
9,2238852548,창신쌍용1단지,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,janghanno1,False,False,False,True,,N,NaN,NaN,NaN
10,2238850672,창신쌍용1단지,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,janghanno1,False,False,False,True,,N,/20221103_225/land_naver_1667440996146nnN5M_JP...,10,f130_98
11,2237448499,창신쌍용1단지,R0,APT,아파트,A01,아파트,A1,매매,OWNER,...,gasebu123,False,False,False,True,,N,NaN,NaN,NaN
12,2238473427,창신쌍용1단지,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,town6558,False,False,False,True,,N,NaN,NaN,NaN
13,2238526300,창신쌍용1단지,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,janghanno1,False,False,False,True,,N,NaN,NaN,NaN
14,2238521136,창신쌍용1단지,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,janghanno1,False,False,False,True,,N,NaN,NaN,NaN
15,2238528374,창신쌍용1단지,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,janghanno1,False,False,False,True,,N,NaN,NaN,NaN
16,2238529297,창신쌍용1단지,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,janghanno1,False,False,False,True,,N,NaN,NaN,NaN
17,2238490720,창신쌍용1단지,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,5294ufo,False,False,False,True,,N,/20221101_23/land_naver_1667287214128L7VX0_JPE...,10,f130_98
18,2238483178,창신쌍용1단지,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,NaN,False,False,False,True,,N,NaN,NaN,NaN
19,2238487702,창신쌍용1단지,R0,APT,아파트,A01,아파트,A1,매매,DOC,...,NaN,False,False,False,True,,N,NaN,NaN,NaN