<a href="https://colab.research.google.com/github/hsnam95/my/blob/main/realEstate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##load 부동산 CSV

In [27]:
import pandas as pd

# 구글 드라이브 마운트 먼저
from google.colab import drive
drive.mount('/content/drive/', force_remount=True)

# 부동산 CSV를 데이터 프레임으로 읽기 
df_all = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/gyeonggi.csv')

# 거래금액 INTEGER,
# 거래유형 TEXT,
# 건축년도 INTEGER,
# 년 INTEGER,
# 법정동 TEXT,
# 아파트 TEXT,
# 월 INTEGER,
# 일 INTEGER,
# 전용면적 FLOAT,
# 중개사소재지,
# 지번 TEXT,
# 지역코드 TEXT,
# 층 INTEGER,
# 해제사유발생일 TEXT,
# 해제여부 TEXT

Mounted at /content/drive/

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (1,9,13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [28]:
df = df_all[(df_all['년'] >=2017) & (df_all['전용면적'] >= 50) & (df_all['전용면적'] <= 110)]

In [29]:
df_out = df.groupby(['지역코드', '법정동', '아파트', '전용면적'])['거래금액'].aggregate(['min','max'])

In [30]:
import numpy as np
def get_last(s):
  return list(s)[-1]

df_recentPrice = df.groupby(['지역코드', '법정동', '아파트', '전용면적']).agg({'거래금액': get_last})
df_recentYear = df.groupby(['지역코드', '법정동', '아파트', '전용면적']).agg({'년': get_last})
df_recentMonth = df.groupby(['지역코드', '법정동', '아파트', '전용면적']).agg({'월': get_last})

In [31]:
df_out['최근거래금액'] = df_recentPrice['거래금액']

In [32]:
df_out['최근거래년'] = df_recentYear['년']

In [33]:
df_out['최근거래월'] = df_recentMonth['월']

In [34]:
df_out['증감액'] = df_out['max'] - df_out['최근거래금액']

In [35]:
df_out['증감비율'] = np.round((df_out['증감액']/df_out['max'])*100)

In [36]:
df_out

                                   min    max  최근거래금액  최근거래년  최근거래월   증감액  \
지역코드  법정동     아파트       전용면적
41111 송죽동     대성(A,B,C) 55.9800  17400  30800   30700   2022      7   100
                        56.1600  15000  25000   25000   2021      3     0
                        56.8800  16800  26000   26000   2021      7     0
              동양파라곤     84.9710  30500  43000   39620   2021      5  3380
                        84.9750  30500  33500   33000   2018     11   500
...                                ...    ...     ...    ...    ...   ...
41830 용문면 다문리 용문코아루     62.7400  20747  33000   33000   2022      6     0
                        76.1100  24720  37000   36500   2022      8   500
              원석비바체     84.9900  15500  20500   19000   2022      5  1500
      용문면 마룡리 꽃여울       65.2134   8000  10700   10700   2021      9     0
                        71.2164  10000  16000   13000   2022      8  3000

                                 증감비율
지역코드  법정동     아파트       전용면적
41111 송죽동     대성(A,B,C) 55.9800   0.0
                        56.1600   0.0
                        56.8800   0.0
              동양파라곤     84.9710   8.0
                        84.9750   1.0
...                               ...
41830 용문면 다문리 용문코아루     62.7400   0.0
                        76.1100   1.0
              원석비바체     84.9900   7.0
      용문면 마룡리 꽃여울       65.2134   0.0
                        71.2164  19.0

[16834 rows x 7 columns]