<a href="https://colab.research.google.com/github/hsnam95/my/blob/main/realEstate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##load 부동산 CSV

In [ ]:
import pandas as pd

# 구글 드라이브 마운트 먼저
from google.colab import drive
drive.mount('/content/drive/', force_remount=True)

# 부동산 CSV를 데이터 프레임으로 읽기 
df_all = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/seoul.csv')

# 거래금액 INTEGER,
# 거래유형 TEXT,
# 건축년도 INTEGER,
# 년 INTEGER,
# 법정동 TEXT,
# 아파트 TEXT,
# 월 INTEGER,
# 일 INTEGER,
# 전용면적 FLOAT,
# 중개사소재지,
# 지번 TEXT,
# 지역코드 TEXT,
# 층 INTEGER,
# 해제사유발생일 TEXT,
# 해제여부 TEXT

In [18]:
df = df_all[(df_all['년'] >=2017) & (df_all['전용면적'] >= 50) & (df_all['전용면적'] <= 110)]

In [19]:
df_out = df.groupby(['지역코드', '법정동', '아파트', '전용면적'])['거래금액'].aggregate(['min','max'])

In [20]:
import numpy as np
def get_last(s):
  return list(s)[-1]

df_recentPrice = df.groupby(['지역코드', '법정동', '아파트', '전용면적']).agg({'거래금액': get_last})
df_recentYear = df.groupby(['지역코드', '법정동', '아파트', '전용면적']).agg({'년': get_last})
df_recentMonth = df.groupby(['지역코드', '법정동', '아파트', '전용면적']).agg({'월': get_last})

In [21]:
df_out['최근거래금액'] = df_recentPrice['거래금액']

In [22]:
df_out['최근거래년'] = df_recentYear['년']

In [23]:
df_out['최근거래월'] = df_recentMonth['월']

In [24]:
df_out['증감액'] = df_out['max'] - df_out['최근거래금액']

In [25]:
df_out['증감비율'] = np.round((df_out['증감액']/df_out['max'])*100)

In [26]:
df_out

                         min    max  최근거래금액  최근거래년  최근거래월   증감액  증감비율
지역코드  법정동 아파트   전용면적
11110 교북동 동아    59.98  38000  83500   80000   2022      6  3500   4.0
                84.28  32000  70000   70000   2018      9     0   0.0
                96.23  48500  48500   48500   2017      6     0   0.0
                99.29  75500  87700   87700   2020      9     0   0.0
      구기동 마운틴뷰  66.13  58500  58500   58500   2021      7     0   0.0
...                      ...    ...     ...    ...    ...   ...   ...
11740 천호동 형인허브빌 75.08  35600  64700   64700   2021      4     0   0.0
                75.30  37950  37950   37950   2018      8     0   0.0
                75.40  37000  37000   37000   2017      7     0   0.0
                75.47  45000  45000   45000   2020      5     0   0.0
                75.81  42700  42700   42700   2019      7     0   0.0

[18798 rows x 7 columns]