<a href="https://colab.research.google.com/github/hsnam95/my/blob/main/requests_gradio(%EA%B3%B5%EB%8F%99%EC%A3%BC%ED%83%9D%EA%B0%80%EA%B2%A9).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install gradio
import gradio as gr
import requests
import pandas as pd

In [ ]:
!pip install xmltodict
import json
import xmltodict

In [10]:
URL = ('http://openapi.molit.go.kr:8081/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTrade?LAWD_CD=11290&DEAL_YMD=202209&serviceKey=miH%2BZXg85lQy4%2FkmhffvygXDIFiTwisriSLxtyECSzw6hxTVK7yI8QKIOc7mP7LEqCnhBGuj6iW1gZW65dum7A%3D%3D')
response = requests.get(URL)

In [ ]:
data_dict = xmltodict.parse(response.content)
json_txt = json.dumps(data_dict)
r = json.loads(json_txt)
r

In [ ]:
item = r['response']['body']['items']['item']
item[0]

In [ ]:
df = pd.DataFrame(r['response']['body']['items']['item'])
df

In [23]:
def test(input1, input2):
  URL = ('http://openapi.molit.go.kr:8081/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTrade?LAWD_CD=' + input1 + '&DEAL_YMD=' + input2 + '&serviceKey=miH%2BZXg85lQy4%2FkmhffvygXDIFiTwisriSLxtyECSzw6hxTVK7yI8QKIOc7mP7LEqCnhBGuj6iW1gZW65dum7A%3D%3D')

  response = requests.get(URL)  
  data_dict = xmltodict.parse(response.content)
  json_txt = json.dumps(data_dict)
  r = json.loads(json_txt)
  item = r['response']['body']['items']['item']

  df = pd.DataFrame(item)
  return df

In [39]:
df1 = test('11110', '202201')
df2 = test('11110', '202208')
df3 = pd.concat([df1, df2], axis=0)         # Concat DataFrames
df3

,거래금액,거래유형,건축년도,년,법정동,아파트,월,일,전용면적,중개사소재지,지번,지역코드,층,해제사유발생일,해제여부
0,"200,000",중개거래,2004,2022,내수동,경희궁의아침3단지,1,14,150.48,서울 종로구,72,11110,3,None,None
1,"20,000",직거래,2015,2022,연지동,아르젠종로,1,11,18.02,None,163-3,11110,10,None,None
2,"19,500",중개거래,2014,2022,연건동,이화에수풀,1,3,16.98,서울 중구,195-10,11110,7,None,None
3,"19,000",중개거래,2014,2022,연건동,이화에수풀,1,8,16.98,서울 종로구,195-10,11110,11,None,None
4,"13,500",중개거래,2011,2022,충신동,CS타워,1,11,22.17,서울 종로구,62-2,11110,12,None,None
5,"118,000",중개거래,1995,2022,명륜2가,아남1,1,19,84.9,"서울 성북구, 서울 종로구",4,11110,18,None,None
6,"15,700",직거래,2014,2022,숭인동,삼전솔하임4차,1,6,15.09,None,318-2,11110,11,None,None
7,"10,500",중개거래,2013,2022,숭인동,종로아인스빌,1,6,12.15,서울 종로구,1392-1,11110,12,None,None
8,"109,000",중개거래,2008,2022,숭인동,종로센트레빌,1,8,84.92,서울 성북구,2-1,11110,11,None,None
9,"54,000",중개거래,2000,2022,숭인동,동문타운,1,15,59.56,서울 종로구,181-105,11110,-1,None,None
10,"44,750",중개거래,2000,2022,숭인동,주숭보아파트,1,24,59.9,서울 종로구,535,11110,6,None,None
11,"10,200",중개거래,2012,2022,숭인동,삼전솔하임2차,1,25,15,서울 종로구,296-19,11110,7,None,None
12,"20,000",중개거래,1971,2022,행촌동,대성아파트,1,5,19.27,서울 종로구,41-1,11110,8,None,None
13,"26,000",중개거래,1971,2022,행촌동,대성아파트,1,12,19.27,서울 마포구,41-1,11110,7,None,None
14,"139,900",중개거래,2008,2022,무악동,인왕산아이파크,1,2,84.858,서울 종로구,60,11110,16,None,None
0,"31,000",중개거래,2003,2022,익선동,현대뜨레비앙,8,1,28.1,서울 종로구,55,11110,9,None,None
1,"37,500",중개거래,2003,2022,익선동,현대뜨레비앙,8,4,48.54,서울 종로구,55,11110,2,None,None
2,"40,000",중개거래,2003,2022,익선동,현대뜨레비앙,8,26,48.54,서울 종로구,55,11110,7,None,None
3,"16,000",중개거래,2011,2022,충신동,CS타워,8,3,21.94,서울 종로구,62-2,11110,5,None,None
4,"13,570",중개거래,2013,2022,숭인동,종로중흥S클래스,8,4,19.466,서울 종로구,202-3,11110,7,None,None
5,"13,000",중개거래,2012,2022,숭인동,삼전솔하임2차,8,13,16.67,서울 중구,296-19,11110,8,None,None
6,"13,300",중개거래,2013,2022,숭인동,종로중흥S클래스,8,22,17.811,서울 종로구,202-3,11110,8,None,None

In [37]:
iface = gr.Interface(test, inputs=[gr.inputs.Textbox(placeholder="법정구코드 e.g. 11110"), gr.inputs.Textbox(placeholder="거래연월 e.g 202209")], outputs='dataframe')
iface.launch(debug=True)

Keyboard interruption in main thread... closing server.

(<gradio.routes.App at 0x7fbaf473b850>,
 'http://127.0.0.1:7861/',
 'https://9701ed804a2bc4bc.gradio.app')

## obsolete

In [ ]:
price = [x['거래금액'] for x in item]
kind = [x['거래유형'] for x in item]
old = [x['건축년도'] for x in item]
year= [x['년'] for x in item]
dong = [x['법정동'] for x in item]
name = [x['아파트'] for x in item]
month = [x['월'] for x in item]
day = [x['일'] for x in item]
area = [x['전용면적'] for x in item]
gu = [x['중개사소재지'] for x in item]
gibun = [x['지번'] for x in item]
postal = [x['지역코드'] for x in item]
floor = [x['층'] for x in item]
clearday = [x['해제사유발생일'] for x in item]
clearYN= [x['해제여부'] for x in item]

price = pd.Series(price)
kind = pd.Series(kind)
old = pd.Series(old)
year = pd.Series(year)
dong = pd.Series(dong)
name = pd.Series(name)
month = pd.Series(month)
day = pd.Series(day)
area = pd.Series(area)
gu = pd.Series(gu)
gibun = pd.Series(gibun)
postal = pd.Series(postal)
floor = pd.Series(floor)
clearday = pd.Series(clearday)
clearYN = pd.Series(clearYN)

df = pd.DataFrame({ '거래금액': price, '거래유형': kind, '건축년도': old, '년': year, '법정동': dong, '아파트': name, '월': month, '일': day, '전용면적': area, '중개사소재지': gu, '지번': gibun, '지역코드': postal, '층': floor, '해제사유발생일': clearday, '해제여부': clearYN})