<a href="https://colab.research.google.com/github/hsnam95/my/blob/main/sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
import sqlite3

## **리스트-튜플 데이터 생성**

In [ ]:
friend_data = list(tuple())
friend_data.append(('김상욱', 22, '010-4545-6767', '서울특별시 종로구 세종대로 종로 1가'))
friend_data.append(('최지훈', 20, '010-7896-1234', '​전라북도 전주시 덕진구 석소로 77, 101동 101호(인후동1가, 대우아파트)'))
friend_data.append(('Dr.Bae', 67, '010-8452-5678', '​전라북도 전주시 덕진구 석소2길 21-1(우아동2가)'))
friend_data.append(('강서혁', 27, '010-1414-6767', '경상남도 의령군 화정면 화정로 41-6'))
friend_data.append(('유민규', 21, '010-6497-6497', '서울특별시 동작구 흑석한강로 2(흑석동)'))

## **테이블 생성 및 데이터 삽입**

In [ ]:
# DB 연결
conn = sqlite3.connect('friend.db')

# 연결로부터 db 쿼리를 조작하기 위한 커서 객체 생성
cur = conn.cursor()

# 쿼리-테이블 생성
cur.execute("""CREATE TABLE IF NOT EXISTS friend_data(
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  name TEXT,
  age INTEGER,
  number TEXT,
  address TEXT
  )""")

# 쿼리(여러행)-데이터 삽입
cur.executemany('INSERT INTO friend_data (name, age, number, address) VALUES (?, ?, ?, ?)', friend_data)
conn.commit()

# 마지막엔 무조건 close() 메소드로 db연결을 해제해야 한다.
conn.close()

## **데이터 조회**

In [ ]:
# DB 연결
conn = sqlite3.connect("friend.db")

# 연결로부터 db 쿼리를 조작하기 위한 커서 객체 생성
cur = conn.cursor()

# 쿼리-선택하기
cur.execute("SELECT * FROM friend_data")

# 불러오기
friends = cur.fetchall()

for friend in friends:
  print(friend)

conn.close()

(1, '김상욱', 22, '010-4545-6767', '서울특별시 종로구 세종대로 종로 1가')
(2, '최지훈', 20, '010-7896-1234', '\u200b전라북도 전주시 덕진구 석소로 77, 101동 101호(인후동1가, 대우아파트)')
(3, 'Dr.Bae', 67, '010-8452-5678', '\u200b전라북도 전주시 덕진구 석소2길 21-1(우아동2가)')
(4, '강서혁', 27, '010-1414-6767', '경상남도 의령군 화정면 화정로 41-6')
(5, '유민규', 21, '010-6497-6497', '서울특별시 동작구 흑석한강로 2(흑석동)')

## **데이터 수정**

In [ ]:
# DB 연결
conn = sqlite3.connect("friend.db")

# 연결로부터 db 쿼리를 조작하기 위한 커서 객체 생성
cur = conn.cursor()

# 쿼리-수정하기
cur.execute("UPDATE friend_data SET number=? WHERE name=?", ('010-1234-5678', '최지훈'))

# 쿼리-선택하기
cur.execute("SELECT * FROM friend_data WHERE name=?", ('최지훈', ))

# 불러오기
friend = cur.fetchone()

print(friend)

conn.commit()
conn.close()

(2, '최지훈', 20, '010-1234-5678', '\u200b전라북도 전주시 덕진구 석소로 77, 101동 101호(인후동1가, 대우아파트)')

## **데이터 삭제**

In [ ]:
# DB 연결
conn = sqlite3.connect("friend.db")

# 연결로부터 db 쿼리를 조작하기 위한 커서 객체 생성
cur = conn.cursor()

# 쿼리-삭제하기
cur.execute("DELETE FROM friend_data WHERE name=?", ('Dr.Bae', ))

# 쿼리-선택하기
cur.execute("SELECT * FROM friend_data")

# 불러오기
friends = cur.fetchall()

for friend in friends:
  print(friend)

conn.commit()
conn.close()

(1, '김상욱', 22, '010-4545-6767', '서울특별시 종로구 세종대로 종로 1가')
(2, '최지훈', 20, '010-1234-5678', '\u200b전라북도 전주시 덕진구 석소로 77, 101동 101호(인후동1가, 대우아파트)')
(4, '강서혁', 27, '010-1414-6767', '경상남도 의령군 화정면 화정로 41-6')
(5, '유민규', 21, '010-6497-6497', '서울특별시 동작구 흑석한강로 2(흑석동)')

##**데이터 프레임으로 저장**

In [ ]:
import pandas as pd

# DB 연결
conn = sqlite3.connect('friend.db')

# 연결로부터 db 쿼리를 조작하기 위한 커서 객체 생성
cur = conn.cursor()

# 쿼리-선택하기
cur.execute("SELECT * FROM friend_data")

# 불러오기
friends = cur.fetchall()

# 객체로부터 테이블 컬럼명 가져오기
column_name = [column[0] for column in cur.description]

# 데이터 프레임 만들기
frame = pd.DataFrame.from_records(data=friends, columns=column_name)

conn.close()

frame

##**CSV를 SQL로**

In [ ]:
import pandas as pd

# DB 연결
conn = sqlite3.connect('out.db')

# 연결로부터 db 쿼리를 조작하기 위한 커서 객체 생성
cur = conn.cursor()

# 쿼리-테이블 생성
cur.execute("""CREATE TABLE IF NOT EXISTS out_data(
  ID INTEGER,
  거래금액 INTEGER,
  거래유형 TEXT,
  건축년도 INTEGER,
  년 INTEGER,
  법정동 TEXT,
  아파트 TEXT,
  월 INTEGER,
  일 INTEGER,
  전용면적 FLOAT,
  중개사소재지,
  지번 TEXT,
  지역코드 TEXT,
  층 INTEGER,
  해제사유발생일 TEXT,
  해제여부 TEXT
  )""")

# CSV를 데이터 프레임으로 읽기
df = pd.read_csv('out.csv')

# 데이터 프레임를 SQL로 연결
df.to_sql('out_data', conn, if_exists='replace', index = False)

# 쿼리-선택하기
cur.execute("SELECT * FROM out_data")

# 불러오기
out = cur.fetchall()

# SQL을 데이터 프레임으로
df = pd.read_sql('''SELECT * FROM out_data''', conn)

In [ ]:
cur.execute("SELECT 거래금액, 아파트 FROM out_data where 전용면적 < 60 AND 건축년도 > 2000")
out = cur.fetchall()
out

e.g. SELECT COL, COL FROM TABLE WHERE COL (부/등호, LIKE, BETWEEN AND)