<a href="https://colab.research.google.com/github/hsnam95/my/blob/main/sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import sqlite3

## **리스트-튜플 데이터 생성**

In [4]:
friend_data = list(tuple())
friend_data.append(('김상욱', 22, '010-4545-6767', '서울특별시 종로구 세종대로 종로 1가'))
friend_data.append(('최지훈', 20, '010-7896-1234', '​전라북도 전주시 덕진구 석소로 77, 101동 101호(인후동1가, 대우아파트)'))
friend_data.append(('Dr.Bae', 67, '010-8452-5678', '​전라북도 전주시 덕진구 석소2길 21-1(우아동2가)'))
friend_data.append(('강서혁', 27, '010-1414-6767', '경상남도 의령군 화정면 화정로 41-6'))
friend_data.append(('유민규', 21, '010-6497-6497', '서울특별시 동작구 흑석한강로 2(흑석동)'))

## **테이블 생성 및 데이터 삽입**

In [ ]:
# DB 연결
conn = sqlite3.connect('friend.db')

# 연결로부터 db 쿼리를 조작하기 위한 커서 객체 생성
cur = conn.cursor()

# 쿼리-테이블 생성
cur.execute("""CREATE TABLE IF NOT EXISTS friend_data(
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  name TEXT,
  age INTEGER,
  number TEXT,
  address TEXT
  )""")

# 쿼리(여러행)-데이터 삽입
cur.executemany('INSERT INTO friend_data (name, age, number, address) VALUES (?, ?, ?, ?)', friend_data)
conn.commit()

# 마지막엔 무조건 close() 메소드로 db연결을 해제해야 한다.
conn.close()

## **데이터 조회**

In [ ]:
# DB 연결
conn = sqlite3.connect("friend.db")

# 연결로부터 db 쿼리를 조작하기 위한 커서 객체 생성
cur = conn.cursor()

# 쿼리-선택하기
cur.execute("SELECT * FROM friend_data")

# 불러오기
friends = cur.fetchall()

for friend in friends:
  print(friend)

conn.close()

(1, '김상욱', 22, '010-4545-6767', '서울특별시 종로구 세종대로 종로 1가')
(2, '최지훈', 20, '010-7896-1234', '\u200b전라북도 전주시 덕진구 석소로 77, 101동 101호(인후동1가, 대우아파트)')
(3, 'Dr.Bae', 67, '010-8452-5678', '\u200b전라북도 전주시 덕진구 석소2길 21-1(우아동2가)')
(4, '강서혁', 27, '010-1414-6767', '경상남도 의령군 화정면 화정로 41-6')
(5, '유민규', 21, '010-6497-6497', '서울특별시 동작구 흑석한강로 2(흑석동)')

## **데이터 수정**

In [ ]:
# DB 연결
conn = sqlite3.connect("friend.db")

# 연결로부터 db 쿼리를 조작하기 위한 커서 객체 생성
cur = conn.cursor()

# 쿼리-수정하기
cur.execute("UPDATE friend_data SET number=? WHERE name=?", ('010-1234-5678', '최지훈'))

# 쿼리-선택하기
cur.execute("SELECT * FROM friend_data WHERE name=?", ('최지훈', ))

# 불러오기
friend = cur.fetchone()

print(friend)

conn.commit()
conn.close()

(2, '최지훈', 20, '010-1234-5678', '\u200b전라북도 전주시 덕진구 석소로 77, 101동 101호(인후동1가, 대우아파트)')

## **데이터 삭제**

In [ ]:
# DB 연결
conn = sqlite3.connect("friend.db")

# 연결로부터 db 쿼리를 조작하기 위한 커서 객체 생성
cur = conn.cursor()

# 쿼리-삭제하기
cur.execute("DELETE FROM friend_data WHERE name=?", ('Dr.Bae', ))

# 쿼리-선택하기
cur.execute("SELECT * FROM friend_data")

# 불러오기
friends = cur.fetchall()

for friend in friends:
  print(friend)

conn.commit()
conn.close()

(1, '김상욱', 22, '010-4545-6767', '서울특별시 종로구 세종대로 종로 1가')
(2, '최지훈', 20, '010-1234-5678', '\u200b전라북도 전주시 덕진구 석소로 77, 101동 101호(인후동1가, 대우아파트)')
(4, '강서혁', 27, '010-1414-6767', '경상남도 의령군 화정면 화정로 41-6')
(5, '유민규', 21, '010-6497-6497', '서울특별시 동작구 흑석한강로 2(흑석동)')

##**데이터 프레임으로 저장**

In [ ]:
import pandas as pd

# DB 연결
conn = sqlite3.connect('friend.db')

# 연결로부터 db 쿼리를 조작하기 위한 커서 객체 생성
cur = conn.cursor()

# 쿼리-선택하기
cur.execute("SELECT * FROM friend_data")

# 불러오기
friends = cur.fetchall()

# 객체로부터 테이블 컬럼명 가져오기
column_name = [column[0] for column in cur.description]

# 데이터 프레임 만들기
frame = pd.DataFrame.from_records(data=friends, columns=column_name)

conn.close()

frame

##**CSV를 SQL로**

In [41]:
import pandas as pd

# DB 연결
conn = sqlite3.connect('out.db')

# 연결로부터 db 쿼리를 조작하기 위한 커서 객체 생성
cur = conn.cursor()

# 쿼리-테이블 생성
cur.execute("""CREATE TABLE IF NOT EXISTS out_data(
  거래금액 INTEGER,
  거래유형 TEXT,
  건축년도 INTEGER,
  년 INTEGER,
  법정동 TEXT,
  아파트 TEXT,
  월 INTEGER,
  일 INTEGER,
  전용면적 FLOAT,
  중개사소재지,
  지번 TEXT,
  지역코드 TEXT,
  층 INTEGER,
  해제사유발생일 TEXT,
  해제여부 TEXT
  )""")

# CSV를 데이터 프레임으로 읽기

df_all = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/seoul.csv')

# 데이터 프레임를 SQL로 연결
# df.to_sql('out_data', conn, if_exists='replace', index = False)

# 쿼리-선택하기
# cur.execute("SELECT * FROM out_data")

# 불러오기
# out = cur.fetchall()

# SQL을 데이터 프레임으로
# df = pd.read_sql('''SELECT * FROM out_data''', conn)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (1,9,13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

e.g. SELECT COL, COL FROM TABLE WHERE COL (부/등호, LIKE, BETWEEN AND)

In [ ]:
cur.execute("SELECT 거래금액, 아파트 FROM out_data where 전용면적 > 300 AND 건축년도 > 2000")
out = cur.fetchall()
out

In [42]:
df = df_all[df_all['년'] >=2017]

In [ ]:
# # 39 50^  59^^  74 84^^ 113^

# df.loc[df['전용면적'] < 56, '전용면적'] = 50
# df.loc[(df['전용면적'] >= 56) & (df['전용면적'] <= 62), '전용면적'] = 59
# df.loc[(df['전용면적'] > 62) & (df['전용면적'] < 81), '전용면적'] = 74
# df.loc[(df['전용면적'] >= 81) & (df['전용면적'] <= 87), '전용면적'] = 84
# df.loc[df['전용면적'] > 87, '전용면적'] = 113

In [43]:
df_out = df.groupby(['지역코드', '법정동', '아파트', '전용면적'])['거래금액'].aggregate(['min','max'])

In [44]:
import numpy as np
def get_last(s):
  return list(s)[-1]

df_recentPrice = df.groupby(['지역코드', '법정동', '아파트', '전용면적']).agg({'거래금액': get_last})
df_recentYear = df.groupby(['지역코드', '법정동', '아파트', '전용면적']).agg({'년': get_last})

In [45]:
df_out['최근거래금액'] = df_recentPrice['거래금액']

In [46]:
df_out['최근거래년'] = df_recentYear['년']

In [47]:
df_out['증감액'] = df_out['max'] - df_out['최근거래금액']

In [50]:
df_out['증감비율'] = np.round(df_out['증감액']/df_out['max'])*100

In [51]:
df_out

                                min     max  최근거래금액  최근거래년    증감액  증감비율
지역코드  법정동 아파트        전용면적
11110 견지동 대성스카이렉스    116.030  80000  115000  115000   2021      0   0.0
                     137.550  90000  126500  126500   2021      0   0.0
                     149.720  89000  106000   89000   2020  17000   0.0
                     149.800  93000  127000  124000   2021   3000   0.0
      교북동 경희궁자이(4단지) 33.982   69500   85000   80000   2021   5000   0.0
...                             ...     ...     ...    ...    ...   ...
11740 천호동 형인허브빌      75.080   35600   64700   64700   2021      0   0.0
                     75.300   37950   37950   37950   2018      0   0.0
                     75.400   37000   37000   37000   2017      0   0.0
                     75.470   45000   45000   45000   2020      0   0.0
                     75.810   42700   42700   42700   2019      0   0.0

[28196 rows x 6 columns]

Warning: total number of rows (28196) exceeds max_rows (20000). Limiting to first (20000) rows.

In [ ]:
df_all